<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title: title }) %>

  <body class="<%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">
    <%- include('../partials/header', { title: title }) %>
    <%- include('../partials/nav') %>

    <main>
      <h2><%= typeof title !== 'undefined' ? title : 'Untitled Page' %></h2>
      <p><%= typeof content !== 'undefined' ? content : '' %></p>
      <img src="/images/background.jpeg" alt="Description of page 1 image" class="responsive-img" />


      <% if (subpages && subpages.length > 0) { %>
        <ul>
          <% subpages.forEach(function(sub) { %>
            <li><a href="<%= sub.link %>"><%= sub.title %></a></li>
          <% }) %>
        </ul>
      <% } %>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
